<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="assets/css/lib.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<!-- Google Hosted jQuery Core -->
	<script src="http://www.google.com/jsapi"></script>
	<script>google.load("jquery", "1");</script>
	<script src="assets/js/jquery.ez-bg-resize.js" type="text/javascript" charset="utf-8"></script>
	<script>
		$(document).ready(function() {
			$("body").ezBgResize({
				img     : "assets/image/bg10.jpg", // Relative path example.  You could also use an absolute url (http://...).
				opacity : 1, // Opacity. 1 = 100%.  This is optional.
				center  : false // Boolean (true or false). This is optional. Default is true.
			});
		});
	</script>
</head>
<body>
	<div id="container">
		<h1>DERP RESOURCES (002202051-K)</h1>
		<p>No.5, Jalan 15/3G, Seksyen 15, 43650 Bandar Baru Bangi, Selangor.</p>
		<!--
		<p class="title">Example Example jQuery Code</p>
		<p class="code">
			$.ezBgResize({<br />
				&nbsp;&nbsp;&nbsp;&nbsp;img      : "image/bg.jpg", // Required.<br />
				&nbsp;&nbsp;&nbsp;&nbsp;opacity  : 1, // Optional. Default is 100% (1).<br />
				&nbsp;&nbsp;&nbsp;&nbsp;center   : true // Optional. Default is true.<br />
			});
		</p>
		<p class="left">That's it!  Super simple!!!</p>
		<p class="left">Don't forget to include jQuery and the source plugin script!</p>
		<p class="left">Hope you like it!</p>
	</div>
	
	<div id="credit">
		Background image courtesy of: <a href="http://www.socwall.com/browse/index.php?search=Bear+Country">socwall.com</a>
	</div>
	-->
	
	<!--
	<p class="title">Contact Us</p>
	<p><iframe src="https://www.facebook.com/plugins/registration?
             client_id=139644509535827&fb_only=true&fb_register=true&target=_parent&
             redirect_uri=http%3A%2F%2Fderp.com.my%2F&
             fields=[{'name':'name'},{'name':'email'},{'name':'phone','description':'Phone Number','type':'text'},{'name':'content','description':'Content','type':'text'},{'name':'captcha'}]"
        scrolling="auto"
        frameborder="yes"
        style="border:none"
        allowTransparency="false"
        width="100%"
        height="400">
	</iframe></p>
	-->
	<p>Phone: 03 8912 5089</p>
	<p>Fax: 03 6207 5451</p>
	<p>Email: herp [at] derp.com.my</p>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-38258901-5', 'derp.com.my');
  ga('send', 'pageview');

</script>
</body>
</html>
